@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Software Development Skill as a service<br />
    Karchi, Pakistan 75850<br />
    <abbr title="Phone">P:</abbr>
    +92 307 3001508
</address>

<address>
    <strong>Support:</strong> <a href="mailto:sdkaas@gmail.com">Support</a><br />
    <strong>Marketing:</strong> <a href="mailto:sdkaas@gmail.com">Marketing</a>
</address>
